<div class="row">

  <div class="col-xs-12 box">
    <div class="col-xs-4">
      <img class="about-image" src="assets/images/appa.png">
    </div>
    <div class="col-xs-6 description">
      <h1>About Mike</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc est diam, placerat non lobortis nec, vestibulum non nisl. Nulla vel maximus erat. Donec hendrerit ex vel iaculis efficitur. Fusce interdum tincidunt tortor id mattis. Etiam mauris erat, accumsan ut felis sed, blandit fermentum libero. Sed placerat sit amet metus id faucibus. Integer at nibh non urna placerat malesuada a et sapien. Sed semper quis eros vitae fermentum. Quisque sed est et mauris bibendum molestie. Aliquam vulputate hendrerit ex vel ullamcorper. Donec porttitor aliquet metus vitae bibendum. In venenatis nunc nisl, quis mattis sapien varius ut. Nulla consectetur ligula nec est porta dapibus.</p>
      <a href="https://www.linkedin.com/in/michael-lee-1a85aa123">LinkedIn</a> | 
      <a href="https://github.com/asackofwheat">Github</a>
    </div>
  </div>
</div>