<navbar></navbar>

<div class="row">

  <div class="col-xs-12 box">
    <div class="col-xs-4">
      <img class="about-image" src="assets/images/appa.png">
    </div>
    <div class="col-xs-6 description">
      <h1>About Mike</h1>
      <p>For the last few years I've worked in cancer trials, primarily in adverse events, at an oncology group. In helping develop and maintain these trials, I learned a great deal about healthcare, clinical trial development, and the organization of information.</p>
      
      <p>Last year, I decided I wanted to apply the skills I'd cultivated in the healthcare industry towards more creative endeavors. This impetus, coupled with my interest in coding, led me to Viking Code School, where, for the last few months, I grew as a developer. Now, I'm excited to work on new projects, learn new languages and frameworks, and build cool things.</p>

      <p>When I'm not coding, I like to play tennis, write, and play Hearthstone.</p>
      <p>
        <a class="fa fa-github fa-2x icon"
          href="https://github.com/asackofwheat"
          target="_blank">
        </a>
        <a class="fa fa-linkedin fa-2x icon"
          href="https://www.linkedin.com/in/jmikelee"
          target="_blank">
        </a>
       </p>
    </div>
  </div>
</div>