<navbar></navbar>

<div class="row homepage">
  <div class="col-xs-6 photo">
    <img src="Mike.jpg">
  </div>

  <div class="col-xs-3">
    <a ui-sref="projects">
      <div class="home-btn">
        PROJECTS
      </div>
    </a>

    <a href="https://dl.dropboxusercontent.com/u/10649680/MichaelLee_resume.pdf" target="_blank">
      <div class="home-btn">
        RESUME
      </div>
    </a>

    <a href="https://medium.com/@asackofwheat" target="_blank">
      <div  target="_blank" class="home-btn">
        BLOG
      </div>
    </a>

    <a ui-sref="about">
      <div class="home-btn">
        ABOUT
      </div>
    </a>
  </div>

</div>

