<navbar></navbar>

<div class="row">
  <div class="col-xs-12 box">
      <div class="col-xs-12">
        <h1>Projects</h1>
      </div>
  </div>

  <div class="col-xs-12 box">
    <div class="col-xs-6">
      <img class="image" src="assets/images/apply.png">
    </div>
    <div class="col-xs-6 description">
      <h3>App.ly</h3>
      <h4>A college information resource for prospective students</h4><hr>
      <p>Browse through important information about admissions, the student body, finances, and academics. Information tapped from multiple APIs including the College Scorecard API and Yelp API.</p>
      <span>
        <a class="btn btn-warning" href="https://applyapp.herokuapp.com/" target="_blank">Demo App</a>
        <a class="btn btn-primary" href="https://github.com/asackofwheat/college_scorecard" target="_blank">Repo</a>
      </span>
    </div>
  </div>

  <div class="col-xs-12 box">
    <div class="col-xs-6">
      <img class="image" src="assets/images/kithub.png">
    </div>
    <div class="col-xs-6 description">
      <h3>KitHub</h3>
      <h4>The teacher's utility hub: collaborative lesson plans, online gradebook, and scheduling tool</h4><hr>
      <p>AngularJS front-end with Rails API back-end running Postgres database. Integrated with AWS s3 for cloud-based lesson upload using Paperclip gem. Gradebook visualizations built with Chart.js and angular-chart.  </p>
      <span>
        <a class="btn btn-warning" href="https://thekithub.herokuapp.com/" target="_blank">Demo App</a>
        <a class="btn btn-primary" href="https://github.com/asackofwheat/kithub" target="_blank">Repo</a>
      </span>
    </div>
  </div>

  <div class="col-xs-12 box">
    <div class="col-xs-6">
      <img class="image" src="assets/images/djello.png">
    </div>
    <div class="col-xs-6 description">
      <h3>Djello</h3>
      <h4>Keep track of everything and make tasks agile</h4><hr>
      <p>An app that organizes projects into boards. AngularJS front-end integrated with Postgres database through Rails framework. Applied Restangular CRUD with Angular Modals and multiple states with UI Router.</p>
      <span>
        <a class="btn btn-warning" href="https://mikedjello.herokuapp.com/" target="_blank">Demo App</a>
        <a class="btn btn-primary" href="https://github.com/asackofwheat/project_djello" target="_blank">Repo</a>
      </span>
    </div>
  </div>

  <div class="col-xs-12 box">
    <div class="col-xs-6">
      <img class="image" src="assets/images/danebook.png">
    </div>
    <div class="col-xs-6 description">
      <h3>Danebook</h3>
      <h4>A social networking platform specifically built for Danes</h4><hr>
      <p>Integrated ActiveRecord ORM with Postgres database. Integrated with AWS s3 for cloud-based image uploads using Paperclip gem. Integrated email confirmation feature with SendGrid.</p>
      <span>
        <a class="btn btn-warning" href="https://mikedanebook.herokuapp.com/" target="_blank">Demo App</a>
        <a class="btn btn-primary" href="https://github.com/asackofwheat/project_danebook" target="_blank">Repo</a>
      </span>
    </div>
  </div>

</div>